.fixed-panel {
  min-height: 10;
  max-height: 10;
  overflow-y: scroll;
}

.navbar {min-height:70px}

.navbar-inverse .navbar-nav> li > a {
    color: white;
    text-transform: uppercase;
}
.navbar-inverse .navbar-nav > li > a:hover {
    text-decoration: underline;
}
.navbar-inverse {
    background-color: #434241;
    color: white;
}

.navbar-inverse .navbar-text {    
    color: white;
}
