{% extends 'base.html' %}

{% block content %}
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class=" panel" style="min-height: 400px;">
                        <p>Le lien d'accès que vous venez d'utiliser n'est plus valide.</p>
                        <p>Cela est probablement dû au fait que ce lien a déjà été utilisé une fois.</p>
                        <p>Il vous suffit d'en obtenir un autre <a href="/">en cliquant ici</a></p>
                    </div>
                </div>
            </div>
{% endblock %}
