{% extends 'base.html' %}

{% block content %}
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class=" panel" style="min-height: 400px;">
                        <p>Nous venons d'envoyer un email à l'adresse <b>{{email}}</b> un message contenant un lien d'accès.<br>
                        Merci de vérifier votre boite mail et de cliquer sur le lien du message reçu pour accéder à votre compte. </p>
                    </div>
                </div>
            </div>
{% endblock %}