{% extends "easy_pdf/base.html" %}

{% block layout_style %}
    <style type="text/css">
        @page {
            size: {{ pagesize|default:"A4" }};
            margin-left: 2cm;
            margin-right: 2cm;
            margin-top: 2cm;
            margin-bottom: 2cm;
        }
    </style>
{% endblock %}

{% block extra_style %}
    <style type="text/css">
        html {
            font-family: Verdana, Geneva, sans-serif;
            font-size: 10pt;
        }
        .box {
            font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif; 
            border: 1px solid black;
            text-align: center;
            font-size: 13pt;
            font-weight: 600;
            padding-top: 6px;
            padding-bottom: -8px;
        }
        td, th {
            padding-top: 2px;
            padding-bottom: -2px;
            padding-left: 2px;
            text-align: center;
            border: 1px solid black;
        }
        
        .odd {
            background-color: #ffffff;  
        }
        
        .even {
            background-color: #dddddd;  
        }
        
        td.b_name {
            vertical-align: middle;
            text-align: center;
        }

    </style>
{% endblock %}

{% block content %}

<div class="box" style="margin-bottom: 40px;">
    BORDEREAU DE COMMUNICATION DE PIECES
</div>

<div class="box" style="margin-bottom: 20px;">
    PARTIE A:
</div>

<table>
<thead><tr><th>No Pièce</th><th>Nom du demandeur</th><th>Descriptif</th><th>Présence</th></tr></thead>
<tbody>
{% for dossier in dossiers %}
<tr>
    <td width = "10%" class="{% cycle 'odd' 'even' %}">A.{{dossier.num_in_assignation}}.1</td>
    <td width = "45%" class="{% cycle 'odd' 'even' %}" class="b_name" rowspan="6"> {{dossier.owner.get_civil_name}}</td>
    <td width = "30%" class="{% cycle 'odd' 'even' %}" style="text-align: left">Pièce d'identité</td>
    <td width = "15%" class="{% cycle 'odd' 'even' %}" {% if not dossier.pi_prod %} style="background-color: #ee0000" {% endif %}>
    {{dossier.pi_prod|yesno:"OUI,NON"}}</td>
</tr>
<tr>
    <td class="{% cycle 'odd' 'even' %}">A.{{dossier.num_in_assignation}}.2</td>

    <td class="{% cycle 'odd' 'even' %}" style="text-align: left">Cahier de doléances</td>
    <td class="{% cycle 'odd' 'even' %}" {% if not dossier.dol_prod %} style="background-color: #ee0000" {% endif %}>
    {{dossier.dol_prod|yesno:"OUI,NON"}}</td>
</tr>
<tr>
    <td class="{% cycle 'odd' 'even' %}">A.{{dossier.num_in_assignation}}.3</td>

    <td class="{% cycle 'odd' 'even' %}" style="text-align: left">Certificat médical</td>
    <td class="{% cycle 'odd' 'even' %}" {% if not dossier.cm_prod %} style="background-color: #ee0000" {% endif %}>
    {{dossier.cm_prod|yesno:"OUI,NON"}}</td>
</tr>
<tr>
    <td class="{% cycle 'odd' 'even' %}">A.{{dossier.num_in_assignation}}.4</td>
    
    <td class="{% cycle 'odd' 'even' %}" style="text-align: left">Ordonnances</td>
    <td class="{% cycle 'odd' 'even' %}" {% if not dossier.ord_prod %} style="background-color: #ee0000" {% endif %}>
    {{dossier.ord_prod|yesno:"OUI,NON"}}</td>
</tr>
<tr>
    <td class="{% cycle 'odd' 'even' %}">A.{{dossier.num_in_assignation}}.5</td>
    
    <td class="{% cycle 'odd' 'even' %}" style="text-align: left">Analyses TSH</td>   
    <td class="{% cycle 'odd' 'even' %}" {% if not dossier.tsh_prod %} style="background-color: #ee0000" {% endif %}>
    {{dossier.tsh_prod|yesno:"OUI,NON"}}</td>
    </tr>
<tr>
    <td class="{% cycle 'odd' 'even' %}">A.{{dossier.num_in_assignation}}.6</td>
    
    <td class="{% cycle 'odd' 'even' %}" style="text-align: left">Divers</td>    
    <td class="{% cycle 'odd' 'even' %}" {% if not dossier.div_prod %} style="background-color: #ee0000" {% endif %}>
    {{dossier.div_prod|yesno:"OUI,NON"}}</td>
</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}
