{% extends 'admin/base_site.html' %}
{% block content %}

<style>
        tr:nth-child(12n+1),tr:nth-child(12n+2),tr:nth-child(12n+3),tr:nth-child(12n+4),tr:nth-child(12n+5),tr:nth-child(12n+6) {
            background-color: #ffffff;  
        }    
        tr:nth-child(12n+7),tr:nth-child(12n+8),tr:nth-child(12n+9),tr:nth-child(12n+10),tr:nth-child(12n+11),tr:nth-child(12n+12) {
            background-color: #dddddd;  
        }
        td.c_non {
            background-color: #ee0000;  
        }
        th {
            text-align: center;            
        }
        td.b_name {
            vertical-align: middle;
            text-align: center;
        }
</style>

<table border=1>
<thead><tr><th>No Pièce</th><th>Nom du demandeur</th><th>Titre</th><th>Présence</th></tr></thead>
<tbody>
{% for dossier in dossiers %}
<tr>
    <td>A.{{dossier.num_in_assignation}}.1</td>
    <td class="b_name" rowspan="6"> {{dossier.owner.get_civil_name}}</td>
    <td>Pièce d'identité</td>
    <td style="background-color: {{dossier.pi_prod|yesno:',#ee0000'}}">
    {{dossier.pi_prod|yesno:"OUI,NON"}}</td>
</tr>
<tr>
    <td>A.{{dossier.num_in_assignation}}.2</td>

    <td>Cahier de doléances</td>
    <td style="background-color: {{dossier.dol_prod|yesno:',#ee0000'}}">
    {{dossier.dol_prod|yesno:"OUI,NON"}}</td>
</tr>
<tr>
    <td>A.{{dossier.num_in_assignation}}.3</td>

    <td>Certificat médical</td>
    <td style="background-color: {{dossier.cm_prod|yesno:',#ee0000'}}">
    {{dossier.cm_prod|yesno:"OUI,NON"}}</td>
</tr>
<tr>
    <td>A.{{dossier.num_in_assignation}}.4</td>
    
    <td>Ordonnances</td>
    <td style="background-color: {{dossier.ord_prod|yesno:',#ee0000'}}">
    {{dossier.ord_prod|yesno:"OUI,NON"}}</td>
</tr>
<tr>
    <td>A.{{dossier.num_in_assignation}}.5</td>
    
    <td>Analyses TSH</td>   
    <td style="background-color: {{dossier.tsh_prod|yesno:',#ee0000'}}">
    {{dossier.tsh_prod|yesno:"OUI,NON"}}</td>
    </tr>
<tr>
    <td>A.{{dossier.num_in_assignation}}.6</td>
    
    <td>Divers</td>    
    <td style="background-color: {{dossier.div_prod|yesno:',#ee0000'}}">
    {{dossier.div_prod|yesno:"OUI,NON"}}</td>
</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}
