{% extends 'base.html' %}

{% block content %}
<div class="panel panel-default">
  <div class="panel-heading text-center">
  <h3>Conditions Générales d’Utilisation (CGU) de la plateforme www.mySMARTcab.fr</h3>
  <br>(annule et remplace les CGV – V4 -14 juin 2016)
  </div>
  <div class="panel-body">
          

  <div id="parent-fieldname-text" class=""><p> </p>
<p>Les présentes Conditions Générales d’Utilisation (ci-après les « CGU ») régissent l’inscription par toute personne et la participation à un ou plusieurs services proposés sur le site Internet www.mySMARTcab.fr .</p>
<p>La plateforme www.mySMARTcab.fr (ci-après la « Plateforme ») est éditée et exploitée par</p>
<p style="text-align: center;">SARL Christophe Lèguevaques Avocat</p>
<p style="text-align: center;">9 rue d’Artois 75008 PARIS</p>
<p style="text-align: center;">RCS de Paris sous le n° 443 426 200</p>
<p style="text-align: center;">Tél. 33 (0)5 62 30 91 52 - Fax 33 (0)5 61 22 43 80<br />cl@mySMARTcab.fr</p>
<p> </p>
<p>La Plateforme met à disposition une interface participative de mise en relation entre avocats et justiciables permettant à toutes personnes de rejoindre en ligne une action collective.</p>
<p>L’Inscription au service implique l'adhésion entière et sans réserve aux présentes CGU à l'exclusion de toute autre stipulation.</p>
<p>Si l’une des clauses des présentes CGU se trouvait nulle ou annulée, les autres clauses n’en seraient pas pour autant annulées.</p>
<p>Le défaut d'exercice partiel ou total de l'une quelconque des stipulations des présentes CGU ne pourra valoir renonciation pour l'avenir au bénéfice de cette stipulation ou à tout autre droit résultant des présentes CGU.</p>
<p>La Plateforme est un outil d’accès au droit et de dialogue avec des avocats de la SARL Christophe Lèguevaques Avocat ou des avocats partenaires sélectionnés par ses soins.</p>
<p>La consultation des actions collectives et des contenus fournis notamment par les Avocats est entièrement libre et gratuite.</p>
<h2>Article 1 – Définitions</h2>
<p>« Action collective » désigne une action en justice collective de droit commun ou une multitude d’actions en justice individuelles, engagées par un avocat sous l’une des formes légalement admissibles comme action conjointe, action collective, action de groupe, class action, plainte avec constitution de partie civile, etc. L’Action Collective peut être initiée notamment devant une juridiction civile, commerciale, administrative, pénale, disciplinaire ou arbitrale en France ou à l’étranger.</p>
<p>« Association » désigne toute association, ad hoc, agréée, soumis à la loi du 1er juillet 1901, fondation ou autre ou toute autre entité similaire dans un autre pays.</p>
<p>« Avocat » désigne toute personne physique exerçant la profession d’avocat et régulièrement inscrite dans un barreau, en France ou dans le monde, ou tout cabinet d’avocats exerçant la profession dans le cadre de l’une des formes reconnues par la loi.</p>
<p>« Cabinet » désigne le SARL Christophe Lèguevaques Avocat</p>
<p>« CGU » désigne les présentes CGU ;</p>
<p>« Client » désigne une personne qui rejoint une action collective en ligne en replissant le formulaire dédié et en validant électroniquement le contrat de service et le mandat de l’avocat.</p>
<p>« Compte Utilisateur/Espace Client » désigne l’interface de la plateforme permettant à un Client/Utilisateur du Cabinet d’avoir accès à son dossier, de communiquer avec un avocat et d’échanges informations et pièces afin de faciliter le suivi et l’avancée de l’affaire.</p>
<p>« Contenu » désigne tout texte, logiciel, script, graphique, photo, son, musique, vidéo, présentation PowerPoint, combinaison audiovisuelle, protégé ou non par un Droit de Propriété Intellectuelle.</p>
<p>« Convention d’honoraires » désigne le contrat électronique passé entre le Cabinet et le Client lors de l’inscription à une Action collective ayant pour objet la fixation du montant des honoraires consacrés à l'aboutissement d'une affaire.</p>
<p>« Documentation » désigne tout document de nature juridique ou générale, des documents contractuels, chargé par un Client sur l’espace client à l’aide de la fonctionnalité prévue à cet effet et publié sous sa seule et entière responsabilité.</p>
<p>« Droits de Propriété Intellectuelle » désigne l’ensemble des droits de propriété intellectuelle tels que prévus par le Code de propriété intellectuelle et les conventions nationales et internationales et, notamment, les droits d’auteur, le droit des marques, les brevets, appellations commerciales (y compris les noms de domaine internet et les noms d’adresse e-mail), les copyrights, droits moraux, droits sur tous modèles, droits sur toutes bases de données, savoir-faire, enregistrés ou non ou pouvant être enregistrés ou non et subsistant dans toute partie du monde ;</p>
<p>« Honoraires » désigne la rétribution du Cabinet par un Client pour toute participation à une Action collective.</p>
<p>« Inscription/ participation » désigne le fait de rejoindre une Action collective par l’intermédiaire de la Plateforme.</p>
<p>« Partenaires » désigne tout partenaire du Cabinet Lèguevaques dans la gestion des fonctionnalités de la plateforme (notamment prestataire informatique, huissiers, etc).</p>
<p>« Plateforme » désigne le site internet www.mySMARTcab.fr</p>
<p>« Propositions d’actions collectives » désigne toutes propositions d’actions soumises en lignes par les Avocats ;</p>
<p>« Visiteur » désigne toute personne qui se rend sur le site pour consulter le contenu et les informations publiés sur le site sans y être inscrite ou préalablement à son inscription sur le site en tant que client.</p>
<h2>Article 2 - Généralités</h2>
<p>www.mySMARTcab.fr est une plateforme d’Actions Collectives. En utilisant le site et ses services, vous vous engagez à respecter les CGU</p>
<p>2.1. Objet</p>
<p>Par la mise en relation avec le Cabinet et le Client, www.mySMARTcab.fr est une plateforme permettant aux Clients placés dans une situation similaire de se regrouper et d’obtenir la condamnation d’un tiers en raison de ses agissements et/ou une indemnisation de leurs préjudices.</p>
<p>L’objectif de la Plateforme est de démocratiser l’accès au droit et à la justice, et de faciliter la défense des intérêts des justiciables.</p>
<p>2.2. Accord</p>
<p>Toute inscription / participation à une action conjointe présume l’acceptation pure et simple des CGU en vigueur qui peuvent être amendées sans préavis par le Cabinet.</p>
<p>Avant tout inscription, tout visiteur doit lire attentivement et comprendre les présentes CGU. L’inscription / participation à une action conjointe permet l’établissement d’un contrat entre le Client et le Cabinet. L’accord de volonté établissant le contrat se fait par acceptation électronique lors de l’inscription.</p>
<p>2.3. Propriété de la plateforme</p>
<p>Tous les droits de propriété intellectuelle portant sur les Informations, en ce compris notamment tous les dessins, images, textes, créations audiovisuelles, programmes informatiques, ainsi que toutes les mises à jour, adaptation, nouvelles versions et copies desdites Informations mises à disposition des Visiteurs et Clients par l’intermédiaire de la Plateforme sont et resteront la propriété exclusive et sans réserve du Cabinet ou de ses cessionnaires, successeurs ou ayants droit. Aucun titre de propriété ou droit d’usage y afférent n’est transféré aux visiteurs/clients par les présentes.</p>
<p>Les droits de propriété intellectuelle s’entendent de l’ensemble des droits de propriété intellectuelle tels que prévus par le code de propriété intellectuelle et les conventions nationales et internationales et, notamment, les droits d’auteur, le droit des marques, les brevets, appellations commerciales (y compris les noms de domaine internet et les noms d’adresse e-mail), les copyrights, droits moraux, droits sur tous modèles, droits sur toutes bases de données, savoir-faire, enregistrés ou non ou pouvant être enregistrés ou non et subsistant dans toute partie du monde.</p>
<p>Le Cabinet accorde aux clients, le droit non exclusif et non cessible, pour la durée de validité des présentes, d’accéder à l’espace client et d’utiliser cet espace aux seules fins d'accès aux services et de consultation du dossier.</p>
<p>Les Clients reconnaissent que toute information de la Plateforme constitue la propriété exclusive du Cabinet qui est seul titulaire des droits relatifs à la Plateforme et en assure, directement ou indirectement, la mise à jour et la maintenance.</p>
<p>Le droit de reproduction aux termes du code de propriété intellectuelle ne s'entend qu'aux fins de représentation sur écran monoposte et est strictement réservé à un usage privé. Toute reproduction, distribution ou publication de contenus à usage commercial ou collectif sans autorisation écrite préalable du Cabinet est interdite. Toutefois, le Cabinet se réserve le droit discrétionnaire de concéder des licences « copyleft » (www.creativecommons.fr) à des fins NON commerciales sur demande motivée adressée à cl@mysmartcab.fr</p>
<p>Le mécanisme des liens est autorisé lorsque les pages relatives à la Plateforme apparaissent dans une fenêtre entière et isolée, sous leurs adresses respectives.</p>
<p>Tout Visiteur et Client s'interdit de « revendre » ou de mettre à disposition d'un tiers et/ou des autres Justiciables, à titre onéreux et/ou gratuit, l'accès à la Plateforme et aux services.</p>
<h2>Article 3 – Fonctionnement</h2>
<p>3.1. Inscription du Client / Participation à une action</p>
<p>Le Cabinet met à la disposition du Client un outil technique offrant la possibilité à tout Client de se mettre en relation avec un Avocat du Cabinet afin de mettre en œuvre une Action collective.</p>
<p>A charge pour l’Avocat consulté d’établir une stratégie adaptée à la situation personnelle du Client et de lui proposer différentes alternatives (notamment négociation ou procédure judiciaire) afin d’exécuter sa mission au mieux des intérêts du Client.</p>
<p>Le Client rempli un formulaire d’inscription sur le site afin d’être remis en relation avec un Avocat qui l’assistera dans le cadre d’un différend qui l’oppose à la personne tierce désigné dans le formulaire d'inscription.</p>
<p>Le Client communiquera, notamment par le formulaire d’inscription, toutes les informations utiles et précisera ses objectifs.</p>
<p>La présente procédure s’inscrit dans une Action Collective et ne peut s’appliquer, à titre exclusif, qu’aux litiges désignés par le Cabinet pour lesquels le Client n’a pas encore introduit d’action devant une juridiction.</p>
<p>Pour ce faire, l’outil proposé par le Cabinet prévoit sur la Plateforme :</p>
<ol>
<li>Une information sur l'action proposée et les avocats en charge du dossier avec un rappel de l’état du droit et de la jurisprudence relativement à un litige donné,</li>
<li>Un remplissage en ligne d’un formulaire de contact par le client,</li>
<li>Le chargement de ses documents par le client sur le site,</li>
<li>L’acceptation des présentes CGU par le client ;</li>
<li>L’acceptation de la convention d’honoraire et de mandat de l’avocat par le client ainsi que des modalités de détermination des honoraires de l’avocat,</li>
<li>La transmission automatique d’un dossier complet destiné à l’avocat à partir des informations fournies et validées par le client,</li>
<li>La prise de contact avec l’avocat ;</li>
<li>La communication à l’avocat des informations et documents par le client. </li>
</ol>
<p>Le service est accessible depuis l'étranger</p>
<p>Le Client est informé que pour la bonne exécution du service, le Cabinet pourra faire appel aux services de partenaires (sociétés tierces).</p>
<p>3.1.1. Conditions</p>
<p>L’inscription à la Plateforme est réservée aux personnes réunissant les conditions cumulatives suivantes :</p>
<ul>
<li>avoir atteint l’âge de la majorité légale ;</li>
<li>avoir la capacité de contracter ;</li>
<li>avoir fourni une copie de l’original de la pièce d’identité (*)</li>
<li>respecter les CGU ;</li>
<li>reconnaître n’avoir pas fait intervenir un autre avocat que le Cabinet sur le litige concerné par l’Action Collective.</li>
</ul>
<p>(*) Pièce d’identité reconnue :</p>
<ul>
<li>carte d'identité française en cours de validité</li>
<li>passeport français ou étranger en cours de validité</li>
<li>permis de conduire français ou étranger</li>
<li>carte de séjour temporaire, carte de résident, certificat de résidence de ressortissant algérien, carte de ressortissant d'un état membre de l'union européenne ou l'espace économique européen, en cours de validité</li>
<li>carte de combattant délivrée par les autorités françaises</li>
<li>carte d'identité ou carte de circulation délivrée par les autorités militaires françaises</li>
</ul>
<p>3.1.2. Modalités</p>
<p>L’Inscription à une Action Collective est effectuée par le client sur la plateforme.</p>
<p>L’inscription à une Action Collective est possible durant une période de souscription propre à chaque action.</p>
<p>Avant la validation de l’inscription, le client accepte expressément les présentes CGU, en cochant la case « J’ai pris connaissance des CGU et je les accepte ».</p>
<p>Il consentira, également, aux conditions d’intervention de l’avocat propres à chaque action et figurant dans les conditions propres à chaque action, présentée dans la convention d’honoraire générée par son inscription.</p>
<p>L’inscription n’est définitive qu’après versement de la provision propre à chaque action dont il consent les modalités par acceptation de la convention d’honoraires.</p>
<p>Ce versement se fera par l’intermédiaire du dispositif PayPal.</p>
<p>En cochant la case « Je reconnais que le service auquel je souscris correspond à un bien nettement personnalisée. En conséquence et conformément à l’article L 121-21-8-3°) du Code de la consommation, je ne peux pas exercer mon droit de rétractation », le client renonce expressément à l'exercice du droit de rétractation. Si la case n’est pas cochée, l’inscription ne peut pas être validée.</p>
<p>L’inscription du Client fera systématiquement l’objet d’une confirmation par courrier électronique, à l’adresse indiquée par le client dans le formulaire d’Inscription. Ce courrier électronique comprend notamment le dossier renseigné par le Client sur la plateforme. Le Client s'engage à fournir et à maintenir une adresse électronique valide tout au long de la procédure.</p>
<p>Suite à la confirmation de l’inscription du Client, celui-ci aura un accès illimité à son compte utilisateur ou « Espace Client ». Cet accès se fera par un identifiant et un mot de passe qu’il aura au préalablement renseigné.</p>
<p>En cas de problème rencontré lors de l’inscription, de questions relatives au suivi de l’inscription ou toute éventuelle réclamation, le Client s’adressera à la hotline spécifique dont le numéro lui sera communiquer lors de la confirmation de son inscription.</p>
<p>3.2. Comptes utilisateur / Espace Client</p>
<p>L’inscription définitive donne accès au Client d’un compte utilisateur qui lui est propre.</p>
<p>Cet espace personnel est l’interface de communication entre le Cabinet et le Client.</p>
<p>Le Compte Utilisateur offre notamment les fonctionnalités suivantes :</p>
<ul>
<li>Consultation du dossier;</li>
<li>Description du Client établie par lui même et pouvant comprendre, notamment, son nom, ses coordonnées, sa profession, une photographie de lui- même ;</li>
<li>Informations nécessaires à l’appréciation du litige;</li>
<li>Ajout et consultation de Documentation;</li>
<li>Boîte de dialogue avec le Cabinet.</li>
</ul>
<p>3.3. Gestion du dossier</p>
<p>Le dossier se compose :</p>
<ul>
<li>Du formulaire de saisie dont l’entier contenu est renseigné sur le Site par le Client sur la base de modèles prévus à cet effet ;</li>
<li>De pièces annexes et justificatives fournis par le justiciable se composant de tout type de document dont les pièces listées nécessaires à l’Action Conjointe à laquelle le client adhère. Ces pièces pourront être demandé en une ou plusieurs fois suivant l’état d’avancée du dossier.</li>
</ul>
<p>Il appartient au Client de renseigner l'ensemble des informations relatives à sa situation personnelle grâce aux champs prévus à cet effet dans la rubrique « Rejoindre l’action» de la plateforme.</p>
<p>Il veillera à fournir l’ensemble des justificatifs de nature à prouver la réalité du différend et/ou du préjudice qu’il subit et une copie numérique de sa pièce d'identité. Il est informé qu’en l’absence de ces documents, son dossier pourra être rejeté soit par la Plateforme, soit par la justice.</p>
<p>Le dossier complet est conservé sur les serveurs de la plateforme durant la durée nécessaire à la résolution du litige. Une copie de celui-ci est adressée au client par email dans un délai de 48h ouvrées suivant la validation du formulaire d’inscription sur la plateforme.</p>
<p>Seules les Clients ayant clairement et complètement rempli le formulaire, fourni toutes les informations et documents requis, ayant une adresse e-mail valide et ayant consenti aux présentes CGUs et aux conditions d’intervention de l‘avocat donneront lieu à transmission de leur dossier à l’Avocat.</p>
<p>Tout client ayant rejoint une action conjointe pourra utiliser les services et les outils mis à leur disposition pour échanger les documents avec les Avocats dans les conditions décrites à l’article 3.2.</p>
<p>Le Cabinet est seul responsable des suites pourra mettre fin à cette inscription à tout moment et sans préavis en cas de violation par le Client de ses obligations.</p>
<p>Dès constitution du dossier, le Cabinet s’engage à traiter le dossier, à analyser son éligibilité à l’ Action Collective et à tenir informer des suites à donner au client sous 15 (quinze) jours ouvrés à compter du moment où le dossier est déclaré complet.</p>
<p>Si le dossier est éligible, le Client recevra la confirmation de sa participation à l’ Action Collective. Les modalités de paiement étant détaillé dans la convention d’honoraires.</p>
<p>Si le dossier n’est pas éligible, le Client en sera informé. En tout état de cause, un paiement forfaitaire minimum de 12 € TTC sera conservé pour l’étude du dossier.</p>
<p>3.4. Gestion électronique des données</p>
<p>Les Clients peuvent communiquer leurs pièces au Cabinet et/ou à l’Avocat en charge de l’action dont ils sont membres uniquement via la Plateforme. Le Cabinet et/ou les Avocats auront seuls accès aux pièces des justiciables ainsi que les différents acteurs impliqués dans une procédure judiciaire (huissier, magistrat, greffier, etc.)</p>
<p>Les justiciables seront avertis des questions, requêtes ou demandes d’informations des avocats par une notification envoyé à leur intention par l’avocat sur la plateforme.</p>
<h2>Article 4 - Obligation du Client</h2>
<p>Le Client fournira les informations requises et renseignera, de bonne foi, les éléments du dossier en s’assurant de l’exactitude, de la pertinence et de la véracité de ces informations, ainsi que de leur conformité aux textes et lois en vigueur.</p>
<p>En particulier, le Client s'engage à ne pas saisir d'informations mensongères, erronées ou calomnieuses dans le Dossier.</p>
<p>Le cas échéant, le Client est informé qu'il pourrait être poursuivi pour procédure abusive et en assume pleinement toutes les conséquences.</p>
<p>Chaque visiteur du site a, de manière générale, pour obligations de respecter les lois et règlements en vigueur, de ne pas utiliser ce site à des fins illégales ou abusive ou à se comporter de façon déloyale, de respecter les droits de propriété intellectuelle afférents aux contenus fournis sur le site, de ne communiquer que des données exactes et fidèles relativement à son état civil et ses coordonnées personnelles et ne prendre aucun engagement pour un tiers.</p>
<p>En cas de violation des conditions d'accès au site et d'utilisation des services proposés sur le site, le Cabinet se réserve le droit de suspendre l'accès au site et l'utilisation des services aux justiciables, avocats ou associations concernés.</p>
<p>Le client est seul responsable est seul juge du fondement de l’action, de la réalité du préjudice, du montant et de la nature des demandes qu’il formule ainsi que de l’opportunité de rejoindre une Action Collective si nécessaire relativement au préjudice qu’il estime subir.</p>
<h3>RAPPEL DES CONDITIONS TARIFAIRES</h3>
<p style="text-align: left; padding-left: 60px;"><strong><u>Article 2</u></strong>  </p>
<p style="text-align: left; padding-left: 90px;">Avant la fin de la période de souscription (fixée provisoirement au 1<sup>ER</sup> décembre 2017), l’action collective est conditionnée à la réunion d’<strong>au moins 500 participants payants.</strong> A défaut d’atteindre cet objectif.  L’Avocat se réserve le droit de ne pas donner suite à l’action collective</p>
<p style="text-align: left; padding-left: 60px;"><strong><u>Article 3 HONORAIRES de BASE</u></strong></p>
<p style="text-align: left; padding-left: 90px;">3.1  Le FORFAIT DE BASE rémunérant les diligences effectuées par l’Avocat pour la négociation et/ou le suivi de la procédure en première instance est forfaitairement fixé à la somme de <strong>96 € TTC</strong> (quatre-vingt-seize euros toute taxe comprise)</p>
<p>                         (…)</p>
<p style="padding-left: 90px;">3.4  En cas d’appel, il sera perçu un nouvel honoraire forfaitaire de 96 € TTC.</p>
<p style="padding-left: 60px;"><strong><u>Article 4 – HONORAIRES COMPLÉMENTAIRES DE RÉSULTAT</u></strong></p>
<p style="padding-left: 90px;">4.1 Si le dossier aboutit favorablement, par négociation ou par recours judiciaire, le Client accepte de payer à l’Avocat un <strong>honoraire complémentaire de résultat égal à 10 % HT</strong> (soit 12% TTC) sur toutes les sommes récupérées au titre de l’indemnisation des préjudices subis.</p>
<p> </p>
<h2>Article 5 - Obligation du Cabinet</h2>
<p>5.1 – Obligation de confidentialité</p>
<p>Les informations communiquées seront traitées confidentiellement. Le Cabinet assure la confidentialité de toutes les informations communiquées dans le cadre d’une adhésion à une Action Collective.</p>
<p>En particulier, tout utilisateur s’engage, à maintenir confidentiel l’existence et le contenu de la proposition d’action conjointe, toute information reçue oralement ou par écrit postérieurement notamment par l’Avocat et à ne pas divulguer, distribuer, reproduire ou communiquer oralement, par écrit ou de quelque autre manière que ce soit, à des tiers, l’information confidentielle, à ne donner accès à l’information confidentielle qu’aux personnes ayant besoin d’y accéder pour les besoins de l’action conjointe.</p>
<p>Ne seront pas considérées comme une information confidentielle :</p>
<ul>
<li>les informations dont le Cabinet peut établir sans ambiguïté qu’il les avait en sa possession de manière licite avant qu’elles ne lui aient été communiquées par le client ;</li>
<li>les informations dont le cabinet peut établir sans ambiguïté qu’elles sont dans le domaine public autrement que par suite d'un manquement par le cabinet aux obligations de confidentialité ;</li>
<li>les informations mises à la disposition du cabinet par un tiers de bonne foi qui les a obtenues de manière licite et n’est soumis à aucune obligation de confidentialité notamment envers les clients.</li>
</ul>
<p>5.2. Sincérité</p>
<p>L’avocat s’engage à ne pas faire de fausse déclaration et à être régulièrement inscrit auprès d’un barreau.</p>
<h2>Article 6 – Données personnelles</h2>
<p>Dans le cadre de l’utilisation de la Plateforme, le Client est informé que le cabinet collecte des données personnelles le concernant, qui font l’objet d'un traitement automatisé dans les conditions prévues par la loi « Informatique et Libertés » du 6 janvier 1978, à des fins de gestion de la relation client, de relations avec les différents tiers (huissiers, greffes, adversaires, magistrats, experts, médiateur, conciliateur, etc.) pouvant être impliqués dans une procédure et dans le respect des obligations légales et règlementaires.</p>
<p>6.1. Collecte des données personnelles</p>
<p>Le Cabinet protège les données personnelles et la vie privée de ses clients.</p>
<p>Ainsi, la Plateforme a été déclaré auprès de la Commission nationale de l'informatique et des libertés sous le numéro d'enregistrement suivant : 1959272 v 0 du 20 mai 2016.</p>
<p>Par ailleurs, conformément aux règles déontologiques propres à la profession d’avocat, le site a été déclaré aux services compétents de l’Ordre des avocats de Paris, le 14 juin 2016.</p>
<p>La collecte des informations personnelles des Clients permet l'accès aux services disponibles sur la Plateforme.</p>
<p>Cette inscription est nécessaire afin de profiter pleinement des services proposés par la plateforme.</p>
<p>Le Cabinet et tout autre personne intervenant dans la mise en œuvre des services proposés sur le site sont seuls destinataires des informations nominatives collectées et pourront utiliser les informations aux fins des statistiques d'utilisation de la plateforme, d'amélioration des conditions d’utilisation, et dans la réalisation les actions conjointes.</p>
<p>Le Client accepte et autorise le Cabinet à transmettre aux avocats du cabinet et à toute autre personne impliquée dans la conduite des Actions Collectives, les informations nominatives aux fins de conduire les Actions Collectives aussi bien dans le cadre d’une négociation que d’une procédure.</p>
<p>Par ailleurs, le cabinet peut être amenée à divulguer des données personnelles lorsqu'elles sont nécessaires à la poursuite d’une Action Collective ou rendues obligatoire par la loi.</p>
<p>6.2. Confidentialité des données personnelles</p>
<p>Aucune des informations transmises par le Client n'est visible par d'autres clients. Celles-ci sont protégées de façon à ce que seul le Client et le Cabinet, le cas échéant, aient accès à ces informations. Le Client est juridiquement responsable de l'utilisation de son espace individualisé, y compris dans le cas de l'utilisation de son espace individualisé par une tierce personne. Il s'engage à notifier immédiatement au Cabinet toute utilisation non autorisée de son espace individualisé ou toute autre violation de confidentialité. En aucun cas, le Client n'est autorisé à céder son espace individualisé ou le droit d'accès à son espace individualisé à un tiers.</p>
<p>Le Cabinet s'engage à tout mettre en œuvre pour protéger les données à caractère personnel. D'autre part, les sites web qui ont des liens hypertextes sur la Plateforme peuvent recueillir des informations personnelles concernant les visiteurs de la Plateforme. Les pratiques de ces sites en matière d'informations ne sont pas couvertes par les présentes CGU.</p>
<p>6.3. Accès et modification des données personnelles</p>
<p>En application de la loi n°78-17 du 6 Janvier 1978 dite « Informatique &amp; Libertés », chaque Client dispose sur les données personnelles le concernant des droits d'accès, de rectification et d'opposition. Le Client peut donc exiger que soient rectifiées, complétées, clarifiées, mises à jour ou effacées les informations le concernant qui seraient inexactes, incomplètes, équivoques ou périmées. Pour exercer ses droits de modification à tout moment, le client doit contacter le Cabinet par mail ou courrier.</p>
<h2>Article 7 - Responsabilité du cabinet</h2>
<p>7.1. Limitation de responsabilité</p>
<p>7.1.1. Fonctionnement de la plateforme - Dans la limite prévue par la loi, le Cabinet décline toute déclaration et garantie exprimée, tacite ou implicite, et ne garantit pas le fonctionnement sans interruption ni erreur de la Plateforme et fourni un accès à la Plateforme en l’état et tel que disponible. Le Cabinet fait ses meilleurs efforts afin de permettre le bon fonctionnement de la Plateforme. Afin d’effectuer la maintenance et/ou d’améliorer l’application, ce dernier est susceptible d’être suspendu pour de courtes périodes. Il est expressément stipulé que le Cabinet ne saurait supporter aucune responsabilité du fait de tout contenu qui serait chargé, partagé, diffusé ou publié sur la Plateforme par un tiers au Cabinet. La Plateforme comporte des liens hypertextes vers des sites Internet tiers. Le Cabinet ne saurait voir sa responsabilité engagée du fait de tout contenu qui serait mis à disposition par lesdits sites tiers Le Cabinet ne saurait être tenu responsable d’un dysfonctionnement ou utilisation frauduleuse de système de paiement via la plateforme de paiement sécurisé. Le Cabinet décline toute responsabilité en raison des dommages directs, indirects, accessoires, particuliers ou toute perte de données, d’opportunité, de réputation, de bénéfices ou de recettes en lien avec l’utilisation du présent site. Le Cabinet fera ses meilleurs efforts afin de faire concevoir un logiciel permettant le respect du formalisme prévu par les textes en vigueur.</p>
<p>7.1.2. Issue de l’action - Le Cabinet est tenu d’une obligation de moyens, à l’exclusion de toutes obligations de résultats. Il ne saurait être tenu responsable de l’issue de l’action et, plus généralement, de toutes les conséquences de l’action mise en œuvre par le Client.</p>
<p>7.1.3. Déontologie - Le Cabinet s’engage à agir dans le respect des règles déontologiques encadrant la profession d’avocat.</p>
<p>7.2. Force majeure - Le Cabinet ne saurait être tenu responsable en cas d’inexécution de l’un de ses engagements envers le Client, si ce manquement est dû à un cas de force majeure tel que les catastrophes naturelles, émeutes, guerres, épidémies, défaillance des fournisseurs et partenaires, fait du prince, tremblements de terre, dysfonctionnement des télécommunications. Dans cette situation, le Cabinet informe le client de cette impossibilité et des mesures prises en vue d’y remédier.</p>
<p>7.3 Médiation gratuite - Conformément aux dispositions des articles L.152-1 et suivants du Code de la consommation (Transposant la directive 2013/11/UE, relative au règlement extrajudiciaire des litiges de consommation), le Client a la possibilité, en cas de litige avec l’Avocat, de recourir gratuitement au Médiateur de la consommation qui sera le médiateur national près du Conseil National des Barreaux (CNB) et dont les coordonnées sont les suivantes : CNB, Médiateur à la consommation, 22 rue de Londres 75009 PARIS.</p>
<h2>Article 8 – Droit applicable et juridiction compétente</h2>
<p>Les présentes CGU ainsi que tout litige et demande en découlant ou en relation avec son objet, son interprétation ou son exécution, sont régis et interprétés selon la loi française. Tout litige relatif à l’interprétation ou l’exécution des CGU ou qui pourrait en découler sera soumis à la compétence des juridictions compétentes.</p></div>
  
  
  </div>
</div>

<div class="text-center">
      <input type="checkbox" id="c1" onclick="showMe('next')"> J'accepte les conditions
    <p>
    <a href="/profile">Précédent</a>
    <a id="next" style="display:none" href="/ch"> | Suivant</a>
</div>

  <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
  <script>
    $(document).ready(function () {
        $('#c1').change(function () {
            if (this.checked) 
            //  ^
               $('#next').fadeIn('fast');
            else 
                $('#next').fadeOut('fast');
        });
    });
  </script>
{% endblock %}
