{% extends 'easy_pdf/base.html' %}

{% block layout_style %}
    <style type="text/css">
        @page {
            size: {{ pagesize|default:"A4" }};
            margin-left: 2.5cm;
            margin-right: 2.5cm;
            margin-top: 2cm;
            margin-bottom: 2cm;

            @frame header {
                -pdf-frame-content: page-header;
                margin-top: 1cm;
                margin-right: 2mm;
                margin-bottom: 1cm;
                margin-left: 1.2 cm;
            }
        }
    </style>
{% endblock %}

{% block extra_style %}
   <meta http-equiv="content-type" content="text/html; charset=utf-8"> 
    <style type="text/css">
        body {
            font-family: "Helvetica", "sans-serif";
            color: #333333;
        }
    </style>
{% endblock %}

{% block content %}
{% load i18n %}
{% language 'fr' %}

<div id="content">
    <div class="main">
        <h3>CONVENTION D'HONORAIRES AU FORFAIT AVEC HONORAIRE COMPLEMENTAIRE DE RESULTAT</h3>
        <p>ENTRE LES SOUSSIGNES</p>
    </div>
    <div class="panel-heading">	
    <table>
    <col width="100px">
    <col width="50px">
    <col width="300px">
    <tr>
        <td valign="top">
          {{ user.get_civil_name }}
          <br>Né(e) le:			{{ user.date_de_naissance }}
          <br>Nationalité:		{{ user.nationalite }}
          <br>Profession:		{{ user.profession }}
          <br>Email:			{{ user.email }}
        </td>
      <td>ET</td>
      <td valign="top">
        La société CHRISTOPHE LEGUEVAQUES AVOCAT,<br>
        Société d’Exercice Libéral à Responsabilité Limitée au capital de 155.000 €,<br>
        inscrite auprès de l’Ordre des Avocats de Paris,<br>
        exerçant au 35, Bd Malesherbes à Paris (75008),<br>
        immatriculée au RCS de Paris sous le numéro 443 426 200,<br>
        représentée par Maître Christophe LEGUEVAQUES son gérant en exercice. 
      </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>  
  <tr>
    <td>Ci-après dénommé(e) « Le Client »</td>
    <td></td>
    <td>Ci-après dénommé « L’Avocat »</td>
  </tr>
  </table>
</div>    

<div class="panel-body">

<p style="text-align: center;">IL EST PREALABLEMENT RAPPELE CE QUI SUIT</p>

<p>Le Client doit prendre de manière régulière du LEVOTHYROX®. Depuis le changement de formule au printemps 2017, il souffre d’effets secondaires importants qui le gênent dans sa vie quotidienne. Il n’a reçu aucune information personnalisée et les notices présentant le médicament accompagnant les comprimés ne contiennent aucune information ou mise en garde. Il s’estime victime d’un grave défaut d’informations ayant occasionné plusieurs préjudices.</p>

<p>Par l’intermédiaire de la plateforme internet www.mySMARTcab.fr, le Client s’est rapproché de l’Avocat afin d’obtenir, dans un premier, l’indemnisation de deux préjudices : (i) le préjudice résultant du défaut d’informations et (ii) le préjudice d’angoisse.</p>

<p>L’Avocat et le Client ont évoqué ensemble la nature de la mission confiée à l’Avocat par la présente convention (ci-après dénommée « La Convention »), ainsi que les différentes modalités de rémunération envisageables en fonction de la loi et des usages.</p>

<p>Dans le cadre de la Convention, les parties conviennent de définir la mission et le mode de rémunération de l’Avocat.</p>

<p style="text-align: center;"><br>IL A ETE ARRETE ET CONVENU CE QUI SUIT</p>

<p><strong><u>Article 1 – Mission</u></strong></p>

<p> En s’inscrivant sur la plateforme www.mySMARTcab.fr, le Client charge l’Avocat de l’assister et de le représenter dans le cadre de l’Action conjointe.</p>

<p>L’Avocat mettra en œuvre toutes diligences utiles en accord avec le Client et notamment</p>
<ul>
<li>Participation aux négociations et rédaction de tous les actes susceptibles d’aboutir à une indemnisation des préjudices visés au Préambule</li>
<li>Rédaction des actes de procédure et plaidoirie dans le cadre d’une <strong>procédure au fond (première instance <u>uniquement</u>)</strong></li>
</ul>

<p>L’Avocat conserve la maîtrise intellectuelle et stratégique des négociations et des procédures menées.</p>

<p>Dans le cadre d’une gestion efficiente de la Plateforme, l’Avocat tiendra régulièrement informé le Client du déroulement de la mission confiée, notamment au travers des outils électroniques développés sur la plateforme internet <b>www.mySMARTcab.fr</b>.</p>

<p><strong><u>Article 2 – Détermination des honoraires</u></strong></p>

<p>2.1 &nbsp; &nbsp; Les parties ont opté pour la détermination des honoraires au forfait (article 3) complété d’un honoraire de résultat (article 4). Les honoraires comprennent les frais de fonctionnement de la Plateforme.</p>

<p>2.2 &nbsp; &nbsp; Avant la fin de la période de souscription (fixée provisoirement au 1er décembre 2017), l’action collective est conditionnée à la réunion <b>d’au moins 500 (cinq cents)</b> participants payants. A défaut d’atteindre cet objectif.  L’Avocat se réserve de ne pas donner suite à l’action collective</p>

<p>2.3 &nbsp; &nbsp; En cas de participation importante (supérieure à 10.000 participants payants), l’Avocat se réserve la possibilité d’avancer la fin de la période de souscription.</p>

<p><strong><u>Article 3 – Forfait de base</u></strong></p>

<p>3.1&#160;&#160;&#160; Le FORFAIT de base r&#233;mun&#233;rant les diligences effectu&#233;es par l&#8217;Avocat pour la n&#233;gociation et/ou le suivi de la proc&#233;dure en premi&#232;re instance est forfaitairement fix&#233; &#224; la somme de&#160;<strong>96 &#8364; TTC</strong> (quatre-vingt-seize euros toute taxe comprise)</p>
<p>3.2&#160;&#160;&#160; Le forfait d&#8217;honoraires de base ne couvre pas</p>
<ul>
<li>- les d&#233;bours,</li>
<li>- les d&#233;pens,</li>
<li>- les frais d&#8217;huissier</li>
<li>- les frais divers (notamment le cas &#233;ch&#233;ant de d&#233;placement ou d&#8217;h&#233;bergement,),</li>
<li>- les frais autres que ceux mentionn&#233;s &#224; l&#8217;art. 3</li>
<li>- les &#233;moluments de postulation &#233;ventuelle,</li>
<li>- les condamnations de toutes natures y compris aux d&#233;pens et aux frais irr&#233;p&#233;tibles,</li>
<li>- les diligences suppl&#233;mentaires qui ne figurent pas &#224; l&#8217;article 1<sup>er </sup>(et notamment les frais et honoraires d&#8217;expertises)</li>
</ul>
<p>3.3&#160;&#160;&#160; Si le client souhaite faire &#233;tudier une situation individuelle ne pouvant &#234;tre incluse dans le cadre des groupes de demandes constitu&#233;s en d&#233;fense des int&#233;r&#234;ts collectifs des demandeurs conjoints, il doit sp&#233;cialement solliciter et r&#233;gler aupr&#232;s de l&#8217;Avocat une consultation suppl&#233;mentaire selon les tarifs indiqu&#233;s sur son site Internet</p>
<p>3.4&#160;&#160;&#160; En cas d&#8217;appel, il sera per&#231;u un nouvel honoraire forfaitaire de 96 &#8364; TTC.</p>
<p>3.5&#160;&#160;&#160; En cas de pourvoi en cassation, il conviendra de se rapprocher d&#8217;un avocat au Conseil d&#8217;Etat et &#224; la Cour de cassation.<br><br></p>
<p><strong><u>Article 4 &#8211; Honoraire compl&#233;mentaire de r&#233;sultat</u></strong></p>
<p>4.1&#160;&#160;&#160; Si le dossier aboutit favorablement, par n&#233;gociation ou par recours judiciaire, le Client accepte de payer &#224; l&#8217;Avocat un <strong>honoraire compl&#233;mentaire de r&#233;sultat &#233;gal &#224; 10 % HT</strong> (soit 12% TTC) <strong>sur toutes les sommes r&#233;cup&#233;r&#233;es au titre de l&#8217;indemnisation des pr&#233;judices subis. </strong></p>
<p>4.2&#160;&#160;&#160; En tout &#233;tat de cause, l&#8217;honoraire de r&#233;sultat est d&#251; uniquement si le contentieux est d&#233;finitivement purg&#233; r&#233;sultant d&#8217;une transaction (article 2044 et suivants du Code civil) ou d&#8217;une d&#233;cision judiciaire, rev&#234;tue de l'autorit&#233; de la chose jug&#233;e en dernier ressort.</p>
<p>Autrement dit, en cas d&#8217;exercice d&#8217;une voie de recours (appel ou cassation) contre la d&#233;cision de premi&#232;re instance, l&#8217;honoraire de r&#233;sultat ne sera pas acquis au profit de l&#8217;Avocat tant que le contentieux ne sera pas purg&#233; de toutes les voies de recours ordinaires ou extraordinaires. Si le Client venait &#224; perdre le dossier apr&#232;s une voie de recours, dans ce cas l&#8217;honoraire de r&#233;sultat ne sera pas d&#251;.</p>
<p>4.3&#160;&#160;&#160; Les sommes allou&#233;es par les Juridictions au titre des frais irr&#233;p&#233;tibles (article 700 du code de proc&#233;dure civile) seront partag&#233;es par moiti&#233; entre le Client et l&#8217;Avocat. Dans le cas de l&#8217;intervention d&#8217;une assurance que le Client aurait pu contracter pour la prise en charge des honoraires, les sommes allou&#233;es au titre de l&#8217;article 700 du Code de proc&#233;dure civile reviennent d&#8217;abord &#224; l&#8217;assureur &#224; hauteur de sa participation. Le surplus s&#8217;il existe, est partag&#233; entre l&#8217;Avocat et le Client.<br><br></p>
<p><strong><u></u><u>Article 5 &#8211; Frais, d&#233;bours et d&#233;pens</u></strong></p>
<p>Les frais, d&#233;bours et d&#233;pens seront r&#233;gl&#233;s sans d&#233;lai par le Client, soit directement au professionnel qui les aura factur&#233;s, soit &#224; l&#8217;Avocat qui en aura fait l&#8217;avance pour le compte du Client.<br><br></p>
<p><u></u><strong><u>Article 6 &#8211; Suspension de la mission</u></strong>&#160;</p>
<p>En cas de non-paiement des factures d&#8217;honoraires, de frais et accessoires (notamment pour la postulation), l&#8217;Avocat se r&#233;serve le droit de suspendre l&#8217;ex&#233;cution de la mission, ce dont il informera son Client en attirant son attention sur les cons&#233;quences &#233;ventuelles.<br><br></p>
<p><strong><u>Article 7 &#8211; Dessaisissement</u></strong></p>
<p>Dans l&#8217;hypoth&#232;se o&#249; le Client souhaiterait dessaisir l&#8217;Avocat et transf&#233;rer son dossier &#224; un autre avocat, le Client s&#8217;engage &#224; r&#233;gler sans d&#233;lai les honoraires, frais, d&#233;bours et d&#233;pens dus &#224; l&#8217;Avocat pour les diligences effectu&#233;es ant&#233;rieurement au dessaisissement.</p>
<p>Dans ces circonstances, les honoraires sont factur&#233;s au temps pass&#233; et ce, au taux horaire de l&#8217;Avocat.&#160;</p>
<p>A titre indicatif, il est pr&#233;cis&#233; que le taux horaire de l&#8217;avocat est de&#160;:</p>
<ul>
<li>- 420 euros Hors Taxes pour un associ&#233; senior.</li>
<li>- 350 euros Hors Taxes pour un associ&#233; junior</li>
<li>- 300 &#8364; HT pour un collaborateur senior</li>
<li>- 250 &#8364; HT pour un collaborateur junior</li>
<li>- 100 &#8364; HT pour le para l&#233;gal</li>
</ul>
<p>Toutefois, si le dessaisissement de l&#8217;Avocat intervient apr&#232;s instruction compl&#232;te du dossier, soit avant l'audience de plaidoirie devant le Tribunal, soit lorsque l'affaire a &#233;t&#233; mise en d&#233;lib&#233;r&#233; par le Tribunal, l&#8217;honoraire de r&#233;sultat restera d&#251; &#224; l&#8217;Avocat dessaisi.</p>
<p>Il en va de m&#234;me si le dessaisissement de l&#8217;Avocat intervient apr&#232;s instruction compl&#232;te du dossier, alors que l&#8217;accord amiable (ou la transaction) est conclu mais avant la date de signature, l&#8217;honoraire de r&#233;sultat restera d&#251; &#224; l&#8217;Avocat dessaisi.<br><br></p>
<p><strong><u>Article 8 &#8211; MEDIATION et </u><u>Contestation</u></strong>&#160;</p>
<p>8.1&#160;&#160;&#160; <u>MEDIATION GRATUITE</u> - Conform&#233;ment aux dispositions des articles L.152-1 et suivants du&#160; Code de la consommation (Transposant la directive 2013/11/UE, relative au r&#232;glement extrajudiciaire des litiges de consommation), le Client a la possibilit&#233;, en cas de litige tant avec l&#8217;Avocat qu&#8217;avec Ma&#238;tre Christophe LEGUEVAQUES , de recourir gratuitement au M&#233;diateur de la consommation qui sera le m&#233;diateur national pr&#232;s du Conseil National des Barreaux (CNB) et dont les coordonn&#233;es sont les suivantes : <strong>CNB, M&#233;diateur &#224; la consommation, 22 rue&#160; de Londres 75009 PARIS.<br><br></strong></p>
<p>8.2&#160;&#160;&#160; <u>CONTESTATION</u> - Toute contestation concernant le montant et le recouvrement des honoraires, frais et d&#233;bours de l&#8217;Avocat ou de Ma&#238;tre Christophe LEGUEVAQUES &#160;ne peut &#234;tre r&#233;gl&#233;e, &#224; d&#233;faut d&#8217;accord entre les parties, qu&#8217;en recourant &#224; la proc&#233;dure pr&#233;vue aux articles 174 et suivants du d&#233;cret n&#176;91-1197 du 27 novembre 1991 organisant la profession d&#8217;Avocat.&#160; Le <strong>B&#226;tonnier de l&#8217;Ordre des Avocats de Paris</strong> est saisi &#224; la requ&#234;te de la partie la plus diligente. Il est express&#233;ment convenu entre les parties qu&#8217;en cas de contestation, le montant des honoraires, frais et d&#233;bours calcul&#233;s comme pr&#233;vu dans la Convention, et restant dus &#224; l&#8217;Avocat, doit &#234;tre consign&#233; entre les mains de Monsieur le B&#226;tonnier de l&#8217;Ordre des Avocats de Paris dans l&#8217;attente d&#8217;une d&#233;cision d&#233;finitive de fixation des honoraires, frais et d&#233;bours.<br><br></p>
<p><strong><u>Article 9 &#8211; Conditions g&#233;n&#233;rales de prestations</u></strong></p>
<p>La pr&#233;sente convention d&#8217;honoraires est indissociable des Conditions G&#233;n&#233;rales d&#8217;UTLISATION (&#171;&#160;CGU&#160;&#187;) de la plateforme <a href="http://www.mysmartcab.dr/"><strong>www.mySMARTcab.fr</strong></a><strong>,</strong> qui doivent &#234;tre lues et accept&#233;es par le Client.<br>&#160;</p>
<p><strong><u>Article 10 &#8211; Droit de r&#233;tractation</u></strong></p>
<p>En application de l&#8217;article L 121-20-2 du code de la consommation, le Client reconnait que le service correspond &#224; un bien nettement personnalis&#233;. En cons&#233;quence, le Client renonce express&#233;ment &#224; l'exercice de son droit de r&#233;tractation.</p>
<p>&#160;</p>
      <br>
      <br>Contrat &#233;lectronique établi le {{ date_envoi|date:'l d F Y' }} à {{ date_envoi|date:'H:i'}}
    </div>
</div>
</div>

{% endlanguage %}
{% endblock %}
