{% extends "easy_pdf/base.html" %}

{% block layout_style %}
    <style type="text/css">
        @page {
            size: {{ pagesize|default:"A4" }};
            margin-left: 6.4cm;
            margin-right: 2.5cm;
            margin-top: 2cm;
            margin-bottom: 2cm;

            @frame header {
                -pdf-frame-content: page-header;
                margin-top: 1cm;
                margin-right: 2mm;
                margin-bottom: 1cm;
                margin-left: 1.2 cm;
            }
        }
    </style>
{% endblock %}

{% block extra_style %}
    <style type="text/css">
        html {
            font-family: "Helvetica", "sans-serif";
        }
        p {
            margin: 0 0 6px 0;
            font-size: 11pt;
        }
        
        .head td {
            font-size: 9pt;
            vertical-align: top;
            padding: 1px 0;
        }
        
        .figures table {
            line-height: 140%;
            margin-bottom: 20px;
        }

        tr.total {
            font-weight:bold; 
            border-top: 3px solid black; 
            border-bottom: 3px solid black;
        }
        .figures td {
            font-size: 10pt;
            vertical-align: top;
            padding: 3px 0;
        }

        hr {
            margin: 30px;
        }
        .text-left { text-align: left; }
        .text-right { text-align: right; }

        .header p { font-size: 11px; line-height: 1.5em; }
        
        .ville { color: red; margin-bottom: -5px; padding-bottom: -5px;}
        .collab { margin-top: -6px; padding-top: -6px; margin-bottom: -6px; padding-bottom: -6px;}
        .avocat{ font-style: italic; margin-top: -6px; padding-top: -6px;}
        .recipient { margin-left: 5.5cm; }
        .info { border: 1px solid black; padding-top: 10px; margin-top: 20px; text-align: center; font-size: 18px; font-weight: bold }
        .main { margin-top: 40px; }
    </style>
{% endblock %}

{%block page_header%}
    <div id="page-header">
        <div class="header" >
            <p class="logo"><img src="images/cle.jpg"/></p>
            <p><b>Christophe Lèguevaques</b></p>
            <p class="avocat">Avocat au Barreau de Paris <br>
                Docteur en droit
            </p>
            
            <p style="font-weight: bold; margin-top: 15px; margin-bottom: 20px">EN PARTENARIAT AVEC</p>

            <p class="ville">PARIS</p>
            <p class="collab">
                Aurélien Ascher<br>
                Michaël Neuman</p>
            <p class="avocat">Avocats au Barreau de Paris</p>

            <p class="ville">MARSEILLE</p>
            <p class="collab">
                Hugo Gervais de Laffont<br>
                Sébastien Goulet</p>
            <p class="avocat">Avocats au Barreau de Marseille</p>

            <p class="ville">LYON</p>
            <p class="collab">
                Serge Morell<br>
                Nicolas Lanfray</p>
            <p class="avocat">Avocats au Barreau de Lyon</p>

            <p class="ville">MARTINIQUE</p>
            <p class="collab">Gladys Ranlin-Lémil</p>
            <p class="avocat">Avocat au Barreau de Martinique</p>

            <p class="ville">MONTPELLIER</p>
            <p class="collab">Alexandre Salvignol</p>
            <p class="avocat">Avocat au Barreau de Montpellier</p>

            <p class="ville">TOULOUSE</p>
            <p class="collab">Zindia Sépulveda</p>        
            <p class="avocat">Abogada en México</p>

            <p class="collab">
                Romain Sintès<br>
                Quentin Guy-Favier</p>
            <p class="avocat">Avocats au Barreau de Toulouse</p>

            <p class="ville">VERSAILLES</p>
            <p class="collab">Véronique Brosseau<br>
            <p class="avocat">Avocat au Barreau de Versailles</p>

        </div>
    </div>
{% endblock %}

{% block content %}
    <div id="content">
    <table class="head">
    <tr><td style="color: red; font-style: italic;">Bureau Toulouse</td><td></td></tr>
    <tr>
        <td>76 Allées Jean Jaurès, 31000 Toulouse<br>Palais B. 494 </td>
        <td>Membre de CLE réseau d’avocats<br>
            (Paris, Toulouse, Marseille, …)</td>
    </tr>
    <tr>
        <td></td>
        <td style="color: red;">www.leguevaques.com</td>
    </tr>
    </table>
    
    <hr>
        <div class="recipient">
            <p>
                <strong>{{user.get_civil_name}}</strong><br>
                {{user.adresse}} <br>
                {{user.code_postal}} {{user.ville}}
            </p>
            <p style="margin-top: 40px;">Toulouse, le {{ date }}</p>
        </div>
        <p style="padding: 0px; margin-bottom: -5px; margin-top: 40px;"><i>Affaire</i> : Défaut d’information sur le Levothyrox</p>
        <p style="padding: 0px; margin-top: -5px; margin-bottom: 20px;"><i>Commentaire</i> : Honoraire réglé par {{user.get_paiement}}</p>
        <p class="info">Honoraire No MSC-A5-{{facture_id}}</p>
        <div class="main">
            <table class="figures">
                    <tr>
                        <td class="text-left">Total soumis</td>
                        <td class="text-right">80,00 €</td>
                    </tr>
                    <tr>
                        <td class="text-left">Montant TVA à 20%</td>
                        <td class="text-right">16,00 €</td>
                    </tr>
                    <tr class="total">
                        <td class="text-left">Total TTC</td>
                        <td class="text-right">96,00 €</td>
                    </tr>
            </table>
            <table class="figures">
                    <tr>
                        <td class="text-left">Montant réglé</td>
                        <td class="text-right">96,00 €</td>
                    </tr>
                    <tr class="total">
                        <td class="text-left">Solde</td>
                        <td class="text-right">0,00 €</td>
                    </tr>
            </table>
        </div>
    </div>
{% endblock %}
