{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h2>Foire aux Questions</h2>
        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse1">A quoi sert cette plateforme ?</a>
              </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
              <div class="panel-body">
              Cette plateforme vous permet de vous inscrire à une action collective en justice à l'encontre de la société MERCK pour défaut d'information et autres préjudices dans le cadre du passage à la nouvelle formule du Levothyrox®. <a href="https://mysmartcab.fr/christophe-leguevaques/actions/levo">Pour en savoir plus.</a>
              </div>
            </div>
          </div>
        </div>

        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse2">Comment s'utilise la plateforme ?</a>
              </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
              <div class="panel-body">
              En partant <a href="/">de cette page-ci</a>, vous indiquez votre courriel et vous recevrez immédiatement un lien sécurisé qui vous donne accés à un espace personnel simplifié. Dans cet espace, vous pouvez nous communiquer les informations d'état civil nécessaires à la prise en compte de votre dossier. Une fois ces informations communiquées, la plateforme vous permet de finaliser votre inscription en réglant les honoraires sur la plateforme sécurisée de notre partenaire Payzen.<br>
              Il n'y a pas besoin de définir de mot de passe; tous les accès à la plateforme se font par l'envoi d'un lien sécurisé qu'il s'agisse du premier accès ou de tous les accès suivants. Vous pouvez redemander un lien autant de fois que vous le souhaitez.
              </div>
            </div>
          </div>
        </div>

        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse12">Oú est mon mot de passe ?</a>
              </h4>
            </div>
            <div id="collapse12" class="panel-collapse collapse">
              <div class="panel-body">
                La plateforme dans sa nouvelle version n'utilise plus de mot de passe. L'accès à votre espace est assuré, <a href="/">à partir de cette page</a>, par l'envoi d'un courriel contenant un lien sécurisé vous permettant d'y accéder. Ce lien ne permet qu'un unique accès mais vous pouvez redemander ce lien autant de fois que vous en aurez besoin. 
              </div>
            </div>
          </div>
        </div>

        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse11">Pourquoi la plateforme a-t-elle changé de forme ?</a>
              </h4>
            </div>
            <div id="collapse11" class="panel-collapse collapse">
              <div class="panel-body">
                Dans un souci d'ergonomie, nous avons simplifié la plateforme spécialement pour cette action, de façon à ce qu'elle n'offre que les fonctionnalités nécessaires à son bon déroulement. C'est pourquoi les personnes qui se sont jointes à l'action à son début ont pu noter un changement dans la forme et le fonctionnement. Les informations que vous nous avez déjà communiquées ont été intégralement conservées dans la nouvelle version.
              </div>
            </div>
          </div>
        </div>

        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse3">Quel est le coût pour participer à cette action.?</a>
              </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
              <div class="panel-body">
              Le coût des honoraires est de 96€ TTC. En cas de décision favorable de la justice, un honoraire de résultat de 10% sur les sommes obtenues en réparation sera dû.
              </div>
            </div>
          </div>
        </div>

        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse5">Comment puis-je obtenir une facture suite à mon paiement ?</a>
              </h4>
            </div>
            <div id="collapse5" class="panel-collapse collapse">
              <div class="panel-body">
              Une facture vous sera envoyée par courriel dans la semaine suivant le règlement des honoraires.
            </div>
            </div>
          </div>
        </div>

        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse4">Qui peut participer à cette action ?</a>
              </h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse">
              <div class="panel-body">
                Toute personne sous traitement LEVOTHYROX® ayant subi des effets secondaires suite à la prise du médicament sous sa nouvelle formule. Ces effets secondaires doivent pouvoir être prouvés soit par un certificat médical de votre médecin, soit par vos analyses sanguines, soit par une ordonnance postérieure au 20 septembre 2017 par laquelle votre médecin vous prescrit un médicament alternatif (gouttes par exemple) ou le retour à l’ancienne formule conformément aux recommandations de l‘ANSM.
              </div>
            </div>
          </div>
        </div>

        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse6">Quels sont les préjudices pris en charge par l’action collective conjointe ?</a>
              </h4>
            </div>
            <div id="collapse6" class="panel-collapse collapse">
              <div class="panel-body">
                      Ils sont limités 
                    <ul><li>au préjudice du défaut d’information et </li>
                    <li>au préjudice d’angoisse.</li></ul>
                Si vous estimez devoir être indemnisé pour d’autres préjudices, cela ne peut pas être fait dans le cadre de cette action conjointe qui vise à regrouper des personnes se trouvant dans des situations identiques ou très similaires. 
                <b>Cependant</b>, si à la lecture de votre cahier des doléances, nous estimons qu'il serait dans votre intérêt d'engager une procédure individualisée, nécessitant probablement une expertise judiciaire,  un avocat vous contactera pour en discuter avec vous. Une telle procédure n’entre pas dans le forfait de 96 € TTC. Lorsque nous aurons étudié tous les dossiers déposés, nous serons en mesure de proposer une solution adaptée.
              </div>
            </div>
          </div>
        </div>

        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse7">Les avocats s’engagent-ils à gagner l’action ?</a>
              </h4>
            </div>
            <div id="collapse7" class="panel-collapse collapse">
              <div class="panel-body">
              Un avocat n'est jamais en mesure de garantir qu’une action sera gagnée d’avance, la décision étant rendue par un juge indépendant. Si les avocats ne sont pas tenus à une obligation de résultats, ils sont en revanche tenus à une obligation de moyens. Ils s’engagent donc à accomplir toutes les diligences utiles à la défense de vos intérêts, en soulevant avec la plus grande fermeté les moyens de nature à conduire l'action au succès.
              </div>
            </div>
          </div>
        </div>

        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse8">Pourquoi agir en grand nombre ?</a>
              </h4>
            </div>
            <div id="collapse8" class="panel-collapse collapse">
              <div class="panel-body">
              Agir en grand nombre évite une division des forces qui rendrait service à l'adversaire et donne davantage de poids à votre voix. Cela permet également d'accéder à de meilleurs moyens de défense en mutualisant les compétences de plusieurs avocats et en réduisant les coûts pour les plaignants.
              </div>
            </div>
          </div>
        </div>


        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse9">Peut-on participer par voie postale, sans passer par Internet ?</a>
              </h4>
            </div>
            <div id="collapse9" class="panel-collapse collapse">
              <div class="panel-body">
              Les pièces doivent être communiquées par voie postale dans tous les cas. Pour l'inscription et le paiement, il est préférable de passer par internet mais les personnes ayant des difficultés d'accès, peuvent envoyer un chèque ainsi que leur nom complet, adresse, nationalité, profession, date et lieu de naissance à l'adresse suivante:      
                <div style="margin-left: 30px;margin-top:10px">MySMARTCab<br>
                SELARL Léguevaques Avocats<br>
                76, allées Jean Jaurès BAL 102<br>
                31000 Toulouse</div>
              </div>
            </div>
          </div>
        </div>

        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse10">Comment vous contacter si j'ai une question.?</a>
              </h4>
            </div>
            <div id="collapse10" class="panel-collapse collapse">
              <div class="panel-body">
              Le plus simple est d'écrire à <a href="levo@mysmartcab.fr">levo@mysmartcab.fr</a>. Cependant étant donné le fort volume d'inscriptions et de questions, un délai pourra être nécessaire pour traiter votre demande. Vous pouvez également nous contacter par téléphone au 09 78 23 00 00.
              </div>
            </div>
          </div>
        </div>
    </div>
</div>

{% endblock %}
