{% extends 'admin/base_site.html' %}
{% block content %}

<ul>
{% for user in users %}
<li><b>{{user.get_civil_name}}</b> née le {{user.date_de_naissance}} à {{user.lieu_de_naissance|title}}, 
demeurant {{user.adresse}} {{user.code_postal}} {{user.ville|title}}, 
de nationalité {{user.nationalite}}, {{user.profession|title}},</li>
{% endfor %}
</ul>

{% endblock %}
