{% extends 'admin/base_site.html' %}
{% block content %}

<style>
        tr:nth-child(2n) {
            background-color: #ffffff;  
        }    
        tr:nth-child(2n+1) {
            background-color: #dddddd;  
        }
        .c_np {
            background-color: #ee0000;  
        }
        .c_es {
            background-color: #dddd00;  
        }
        .c_nr {
            background-color: #0080ff;  
        }
        th {
            text-align: center;            
        }
        td.b_name {
            vertical-align: middle;
            text-align: center;
        }
</style>

<h1>Légende</h1>
P = Produite,
<span class="c_nr">NR</span> = Non Reçue,
<span class="c_np">NP</span> = Non Produite,
<span class="c_es">ES</span> = Erreur de Saisie,
<p>

<table border=1>
<thead><tr><th>Dossier</th><th>No dans Assignation</th><th>P.Id.</th><th>C.Dol.</th><th>Cer.Med.</th>
<th>Ordonance</th><th>Hist.TSH</th><th>Divers</th></tr></thead>
<tbody>
{% for dossier in dossiers %}
<tr>
    <td>{{dossier.link_to_dossier}}</td>
    <td>{{dossier.num_in_assignation}}</td>

    {% if dossier.pi_recu and dossier.pi_prod %}
    <td class="">P</td>
    {% elif dossier.pi_recu and not dossier.pi_prod %}
    <td class="c_np">NP</td>
    {% elif not dossier.pi_recu and dossier.pi_prod %}
    <td class="c_es">ES</td>
    {% else %}
    <td class="c_nr">NR</td>
    {% endif %} 

    {% if dossier.doleances_recu and dossier.dol_prod %}
    <td class="">P</td>
    {% elif dossier.doleances_recu and not dossier.dol_prod %}
    <td class="c_np">NP</td>
    {% elif not dossier.doleances_recu and dossier.dol_prod %}
    <td class="c_es">ES</td>
    {% else %}
    <td class="c_nr">NR</td>
    {% endif %} 
    
    {% if dossier.cm_recu and dossier.cm_prod %}
    <td class="">P</td>
    {% elif dossier.cm_recu and not dossier.cm_prod %}
    <td class="c_np">NP</td>
    {% elif not dossier.cm_recu and dossier.cm_prod %}
    <td class="c_es">ES</td>
    {% else %}
    <td class="c_nr">NR</td>
    {% endif %} 

    {% if dossier.has_ord and dossier.ord_prod %}
    <td class="">P</td>
    {% elif dossier.has_ord and not dossier.ord_prod %}
    <td class="c_np">NP</td>
    {% elif not dossier.has_ord and dossier.ord_prod %}
    <td class="c_es">ES</td>
    {% else %}
    <td class="c_nr">NR</td>
    {% endif %} 
    
    {% if dossier.hist_tsh and dossier.tsh_prod %}
    <td class="">P</td>
    {% elif dossier.hist_tsh and not dossier.tsh_prod %}
    <td class="c_np">NP</td>
    {% elif not dossier.hist_tsh and dossier.tsh_prod %}
    <td class="c_es">ES</td>
    {% else %}
    <td class="c_nr">NR</td>
    {% endif %} 

    {% if dossier.divers_recu and dossier.div_prod %}
    <td class="">P</td>
    {% elif dossier.divers_recu and not dossier.div_prod %}
    <td class="c_np">NP</td>
    {% elif not dossier.divers_recu and dossier.div_prod %}
    <td class="c_es">ES</td>
    {% else %}
    <td class="c_nr">NR</td>
    {% endif %} 

</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}
