<html>
  <head>
    <title>PayZen Form Payment Example</title>
    <style>
      label {font-weight: bold;width:170px;display:inline-block;text-align:right;padding:2px 10px 2px 0;}
      input[type=text] {width:350px;}
    </style>
  </head>
  <body>
    <form id="payzen_auto_submit_form" action="{{ form.form.action }}" method="{{ form.form.method }}" enctype="{{ form.form.enctype }}" accept-charset="UTF-8" />
    {% for k,v in form.fields.items %}
    <label>{{ k }}</label>
    <input type="text" readonly="readonly" name="{{ k }}" value="{{ v }}" />
    <br />
    {% endfor %}

    <input type="submit" name="Time To" value="Pay" />
</form>

<!-- will cause this form to submit itself automatically -->
<script type="text/javascript">
  document.forms["payzen_auto_submit_form"].submit()
</script>
</body>
</html>
