{% extends 'admin/base_site.html' %}
{% block content %}

<style>
        tr:nth-child(2n) {
            background-color: #ffffff;  
        }    
        tr:nth-child(2n+1) {
            background-color: #dddddd;  
        }
        .c_ep {
            background-color: #ffff00;  
        }
        .c_em {
            background-color: #ff0000;  
        }
        .c_ok {
            # background-color: #00ff00;  
        }
        th {
            text-align: center;            
        }
        td.b_name {
            vertical-align: middle;
            text-align: center;
        }
</style>

<h1>Légende</h1>
P = Présente,
A = Absente,
<span class="c_ep">X</span> = Pièce en trop,
<span class="c_em">X</span> = Pièce en moins,
<span class="c_ok">X</span> = Ok,
<p>

<table border=1>
<thead><tr><th># Liste</th><th>Dossier</th><th>Num ds Assign.</th><th>Assign.</th><th>1</th><th>2</th><th>3</th>
<th>4</th><th>5</th><th>6</th></tr></thead>
<tbody>
{% for dossier in dossiers %}
<tr>
    <td>{{ forloop.counter }}</td>
    <td>{{dossier.link_to_dossier}}</td>
    <td>{{dossier.num_in_assignation}}</td>
    <td>{{dossier.assignation_id}}</td>

    {% if dossier.pi_recu and not dossier.pi_prod %}
    <td class="c_em">
    {% elif not dossier.pi_recu and dossier.pi_prod %}
    <td class="c_ep">
    {% else %}
    <td class="c_ok">
    {% endif %}    
    {{dossier.pi_recu|yesno:"P,A"}}</td>

    {% if dossier.doleances_recu and not dossier.dol_prod %}
    <td class="c_em">
    {% elif not dossier.doleances_recu and dossier.dol_prod %}
    <td class="c_ep">
    {% else %}
    <td class="c_ok">
    {% endif %}    
    {{dossier.doleances_recu|yesno:"P,A"}}</td>

    {% if dossier.cm_recu and not dossier.cm_prod %}
    <td class="c_em">
    {% elif not dossier.cm_recu and dossier.cm_prod %}
    <td class="c_ep">
    {% else %}
    <td class="c_ok">
    {% endif %}    
    {{dossier.cm_recu|yesno:"P,A"}}</td>
    
    {% if dossier.has_ord and not dossier.ord_prod %}
    <td class="c_em">
    {% elif not dossier.has_ord and dossier.ord_prod %}
    <td class="c_ep">
    {% else %}
    <td class="c_ok">
    {% endif %}    
    {{dossier.has_ord|yesno:"P,A"}}</td>
        
    {% if dossier.hist_tsh and not dossier.tsh_prod %}
    <td class="c_em">
    {% elif not dossier.hist_tsh and dossier.tsh_prod %}
    <td class="c_ep">
    {% else %}
    <td class="c_ok">
    {% endif %}    
    {{dossier.hist_tsh|yesno:"P,A"}}</td>
        
    {% if dossier.divers_recu and not dossier.div_prod %}
    <td class="c_em">
    {% elif not dossier.divers_recu and dossier.div_prod %}
    <td class="c_ep">
    {% else %}
    <td class="c_ok">
    {% endif %}    
    {{dossier.divers_recu|yesno:"P,A"}}</td>
    
</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}
