{% extends 'base.html' %}
{% block title %}Vos Données{% endblock %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load custom_tags %}

{% block content %}
            <div class="row">
                <div class="col-md-4">
                  {% if not user.has_payed %}
                    <div class="alert alert-warning ">
                      <p><strong>Depuis le 15 janvier 2018, nous ne prenons plus d'inscription en ligne.</strong> Compte tenu du grand nombre de demande que nous recevons, nous acceptons de recevoir uniquement par la poste les dossiers COMPLETS jusqu’au 30 janvier 2018.</p>
                      <p>Les dossiers incomplets ne seront pas étudiés.</p>
                      <p>Un dossier complet comprend:</p>
                      <ul>
                      <li><a href="{% static 'pdfs/ch.pdf' %}">La convention d'honoraire</a> dûment remplie</li>
                      <li>Le réglement par chèque</li>
                      <li><a href="{% static 'pdfs/pieces.pdf' %}">L'ensemble des pièces demandées</a></li>
                      </ul>
                    </div>
                    <div class="alert alert-success">
                      <p>Si vous n'êtes pas en mesure de compléter votre dossier à temps, vous pouvez remplir le formulaire à droite ce qui nous permettra de reprendre contact avec vous lorsque nous serons en mesure d'accepter de nouveaux dossiers.</p>
                    </div>
                    {% else %}
                    <div class="alert alert-success text-center">
                      <strong>Nous avons bien reçu votre paiement.</strong>
                    </div>
                    {% endif %}
                    {% if user.has_seen_ch or user.has_payed %}
                    <div class="login-panel panel panel-primary">
                        <div class="panel-heading text-center">
                            <h3 style="margin-top: 0px;margin-bottom: 0px">
                                Documents contractuels
                            </h3>
                        </div>
                        <div class="panel-body">
                            <ul>
                                {% if user.has_seen_ch %}
                                <li><a href="{% url 'ch_pdf' %}">Convention d'Honoraires</a></li>
                                <li><a href="{% static 'pdfs/cgu.pdf' %}">Conditions Générales d'Utilisation</a></li>
                                {% endif %}
                                {% if user.has_payed %}
                                <li><a href="{% url 'facture' %}">Facture</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    {% endif %} <!-- end if user.has_seen_ch or user.has_payed -->
                    {% if user.has_payed %}
                    <div class="login-panel panel panel-primary">
                        <div class="panel-heading text-center">
                        <h3 style="margin-top: 0px;margin-bottom: 0px">Votre dossier</h3>
                        </div>
                        <div class="panel-body">
                            <table width="100%">
                            {% if user.has_dossier %}
                                <tr>
                                    <td width="60%">Dossier reçu le:</td>
                                    <td style="text-align: right;">{{ user.dossier.date_reception }}</td>
                                </tr>
                                {% if user.dossier.assignation.envoye %}
                                <tr>
                                    <td width="60%">Dossier assigné le:</td>
                                    <td style="text-align: right;">{{ user.dossier.assignation.date_envoi }}</td>
                                </tr>
                                <tr>
                                    <td width="60%">Assignation:</td>
                                    <td style="text-align: right;">{{ user.dossier.assignation.assignation_id }}</td>
                                </tr>
                                {% else %}  <!-- dossier is still processing ... -->
                                <tr>
                                    <td>Pièce d'identité</td>
                                {% with user.dossier.pi_recu|boolean_icon as b_icon %}
                                    <td style="text-align: center;"><img src="{% static b_icon %}" alt="{{ user.dossier.pi_recu|yesno:'True,False' }}"></td>
                                {% endwith %}
                                </tr>
                                <tr>
                                    <td>Cahier de doléances</td>
                                {% with user.dossier.doleances_recu|boolean_icon as b_icon %}
                                    <td style="text-align: center;"><img src="{% static b_icon %}" alt="{{ user.dossier.doleances_recu|yesno:'True,False' }}"></td>
                                {% endwith %}
                                </tr>
                                <tr>
                                    <td>Certificat médical</td>
                                {% with user.dossier.cm_recu|boolean_icon as b_icon %}
                                    <td style="text-align: center;"><img src="{% static b_icon %}" alt="{{ user.dossier.cm_recu|yesno:'True,False' }}"></td>
                                {% endwith %}
                                </tr>
                                <tr>
                                    <td>Ordonance Alternative</td>
                                {% with user.dossier.has_ord|boolean_icon as b_icon %}
                                    <td style="text-align: center;"><img src="{% static b_icon %}" alt="{{ user.dossier.has_ord|yesno:'True,False' }}"></td>
                                {% endwith %}
                                </tr>
                                <tr>
                                    <td>Historique TSH</td>
                                {% with user.dossier.hist_tsh|boolean_icon as b_icon %}
                                    <td style="text-align: center;"><img src="{% static b_icon %}" alt="{{ user.dossier.hist_tsh|yesno:'True,False' }}"></td>
                                {% endwith %}
                                </tr>
                                    {% if user.dossier.divers_recu %}
                                <tr>
                                    <td>Autres pièces</td>
                                    <td style="text-align: center;"><img src="{% static 'admin/img/icon-yes.svg' %}" alt="True"></td>
                                </tr>
                                    {% endif %}  <!-- end if user.dossier.divers_recu -->
                                {% endif %}  <!-- end if user.dossier.assignation.envoye -->
                            {% else %} <!-- dossier not yet received -->
                               <tr>
                                    <td>Votre dossier n'a pas encore été reçu ou il est en cours de traitement.</td>
                                    <td></td>
                               </tr>
                            {% endif %} <!-- end if user.has_dossier -->
                            </table>
                        </div>
                    </div>
                    {% endif %} <!-- end if user.has_payed -->
                </div>
                <div class="col-md-4">
                    <div class="login-panel panel panel-primary">
                        <div class="panel-heading text-center"><h3 style="margin-top: 0px;margin-bottom: 0px">
                            Vos données personnelles
                        </h3>
                        </div>
                        <div class="panel-body">
                            <form method="post" novalidate>{% csrf_token%}
                                <fieldset>
                                   {% bootstrap_form form %}
                                   {% buttons %}
                                   <div class="text-center">
                                     <button type="submit" class="btn btn-primary">Mettre à jour</button>
                                   </div>
                                   {% endbuttons %}
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}
