{% extends 'admin/base_site.html' %}
{% block content %}

<style>
        tr:nth-child(2n) {
            background-color: #ffffff;  
        }    
        tr:nth-child(2n+1) {
            background-color: #dddddd;  
        }
        .c_ep {
            background-color: #ffff00;  
        }
        .c_em {
            background-color: #ff0000;  
        }
        .c_ok {
            background-color: #00ff00;  
        }
        th {
            text-align: center;            
        }
        td.b_name {
            vertical-align: middle;
            text-align: center;
        }
</style>

<h1>Stats Assignation</h1>

<table border=1>
<thead><tr><th>Assignation</th><th>Nb Dossiers</th><th>Dossiers incomplets</th></tr></thead>
<tbody>
{% for assignation in assignations %}
<tr>
    <td>{{assignation.link_to_change_page}}</td>
    <td>{{assignation.dossier_count}}</td>
    <td>{{assignation.count_incomplets}}</td>
</tr>
{% endfor %}
<tr>
    <td>Total</td>
    <td></td>
    <td></td>
</tr>
</tbody>
</table>

{% endblock %}
