{% extends 'base.html' %}
{% load bootstrap3 %}
{% load custom_tags %}
{% load staticfiles %}

{% block content %}
        <div class="row">
            <div class="col-md-4">
                <div class="alert alert-warning ">
                  <p><strong>Depuis le 15 janvier 2018, nous ne prenons plus d'inscription en ligne.</strong> Compte tenu du grand nombre de demande que nous recevons, nous acceptons de recevoir uniquement par la poste les dossiers COMPLETS jusqu’au 30 janvier 2018.</p>
                  <p>Les dossiers incomplets ne seront pas étudiés.</p>
                  <p>Un dossier complet comprend:</p>
                  <ul>
                  <li><a href="{% static 'pdfs/ch.pdf' %}">La convention d'honoraire</a> dûment remplie</li>
                  <li>Le réglement par chèque</li>
                  <li><a href="{% static 'pdfs/pieces.pdf' %}">L'ensemble des pièces demandées</a></li>
                  </ul>
                </div>
                <div class="alert alert-success">
                  <p>Si vous n'êtes pas en mesure de compléter votre dossier à temps, vous pouvez nous laisser votre email dans le champ à droite ce qui nous permettra de reprendre contact avec vous lorsque nous serons en mesure d'accepter de nouveaux dossiers.</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="login-panel panel panel-default" style="min-height: 400px;">
                    <div class="panel-heading text-center">
                        <h4 style="margin-top: 0px; margin-bottom: 0px">
                            {% nb_inscrits %} inscrits
                        </h4>
                        <h3 style="margin-top: 0px;margin-bottom: 0px">L'action est close.</h3>
                    </div>
                    <div class="panel-body">
                        <form method="post" novalidate>{% csrf_token%}
                            <fieldset>
                               {% bootstrap_form form %}
                               {% buttons %}
                               <div class="text-center">
                                 <button type="submit" class="btn btn-primary">
                                   Obtenir un lien d'accès
                                 </button>
                               {% endbuttons %}
                               </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
